@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  padding-bottom: 80px;
}

/* react toastify styling */
.successToast {
  min-height: 45px !important;
  background-color: #047857 !important;
}
.successProgressBar,
.errorProgressBar {
  background-color: white !important;
}
.errorToast {
  min-height: 45px !important;
  background-color: #ef4444 !important;
}

/*Scrollbar styling*/
html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #047857;
  border: 2px solid #eaeaea;
  border-radius: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 10px;
}